body {
	margin: 0 2px;
}

* {
    box-sizing: border-box;
}

section, div, footer, header {
	display: block;
    text-align: center;
    padding: 0;
}

.all-titles {
	margin: 2em auto;
	font-size: 2em;
	color: #d18185;
}

main {
	display: grid;
    font-family:sans-serif;
    margin: 0;

                       /*******************
                        ESTABLECIENDO LINEAS 
                       *********************/    

    grid-template-columns: 
    	[col-start] 1fr
    	[col-end]
    ;
    grid-template-rows: 
    	[rowa-start] 0.00661157024%				/*40px*/
		[rowa-end rowb-start] 0.2809917355%		/*1700px*/
    	[rowb-end rowc-start] 0.00661157024%	/*40px*/
    	[rowc-end rowd-start] 0.10743801652%	/*650px*/
    	[rowd-end rowe-start] 0.09090909090%	/*550px*/
    	[rowe-end rowf-start] 0.16925619834%	/*1750px*/
    	[rowf-end rowg-start] 450px	            /*450px*/
    	[rowg-end rowh-start] 0.04958677685%	/*300px*/
    	[rowh-end]					        
    ;
}


					/***********************
					 ESTABLECIENDO POSICIONES 
					 *************************/  


header {
	grid-row: rowa-start / rowa-end;

	background-color: #221F1F;
	font-size: 0.5em;
}

section.casette {
	grid-row: rowb-start / rowb-end;

	background-color: #281b1b;
	background-image: url("vendor/fondos/red-.jpg");
}

div.paginas {
	grid-row: rowc-start / rowc-end;

	background-color: #2b1717;
}

section.about {
	grid-row: rowd-start / rowd-end;

	background-color: #321111;
	background-image: url("vendor/fondos/fondo-pincel.jpg");
	opacity: 0.9;
}

section.skills {
	grid-row: rowe-start / rowe-end;

	background-color: #350d0d;
	background-image: url("vendor/fondos/fondo-piso.jpg");
}

section.charges {
	grid-row: rowf-start / rowf-end;

	background-color: #370c0c;
	background-image: url("vendor/fondos/red-background.jpg");
}

section.contact {
	grid-row: rowg-start / rowg-end;

	background-image: url("vendor/fondos/fondo-piso2-3.jpg");
}

footer.foot {
	grid-row: rowh-start / rowh-end;

	background-color: #191919;
	margin: 0;
}


/**************************
 ESTABLECIENDO MEDIA QUERIES 
 ****************************/  


@media (min-width: 500px) {
    main {
   		grid-template-columns: 
    	[col-s1-start] 1fr
    	[col-s1-end col-s2-start]1fr
    	[col-s2-end col-s3-start]1fr
    	[col-s3-end col-s4-start]1fr
    	[col-s4-end]
       ;
    	grid-template-rows:  
    	[row1-start] 0.2809917355%			
		[row1-end row2-start] 0.00661157024%		
    	[row2-end row3-start] 0.10743801652%	
    	[row3-end row4-start] 0.09090909090%	
    	[row4-end row5-start] 0.16925619834%	
    	[row5-end row6-start] 450px	
    	[row6-end row7-start] 0.04958677685%	            
    	[row7-end]	
       ;
    } 
}

			/**************
				PARALLAX EFFECT
				 ****************/

.parallax {
	background: red fixed 50% 50%;
	background-size: cover;
}

			/************
				 EFECTOS HOVER 
				  **************/ 

.hover {
	opacity: 0.8;
}

.hover:hover {
	opacity: 1;
}

				/*******************
				 ARREGLANDO ELEMENTOS 
				 *********************/  

/******
		 HEADER 
		 		*******/ 

.header-title {
	display: block;

	float: left;

	margin-left: 1em;
	color: #965255;
}

.header-box {
	display: block;
	width: 4em;
	height: 4em;

	float: right;
}

.header-box-img {
	display: block;
	width: 4em;
	height: 4em;

	float: right;
}

.header-links {
    text-decoration: none;
}

.header-link-title {
    margin: 0;
    padding: 0.5em 0;

    color: #700000;
} 
	  .header-link-title:hover{
	     background-color: #825C5D;
	     background-image: url("vendor/fondos/fondo-humo-2.jpg");
	     color: #700000;
	  }
   

.links-grap{
	display: none;
	min-width: 100px;
	min-height: 200px; 
	
	position: absolute;
    right: 0;
	z-index: 1;
    background-color: #6E6565;
	font-size: 2em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
} 
		.dropdown:hover .links-grap {
			display: block;
		}

.dropdown {
	display: block;

    position: relative;
	float: right;
}

/******
 MEDIAS 
 *******/ 

@media (min-width: 500px) {
	header {
		grid-row: row1-start / row7-end;
		grid-column: col-s1-start / col-s1-end;

		width: 25%;
		height: 100%;
		
		position: fixed;
		box-shadow: 10px 0 8px 0 rgba(0, 0, 0, 0.2);
    }

    .header-box{
    	display: none;
    }

    .header-title {
    	margin-left: 0.2em;
    	text-align: center;
    	font-size: 450%;
    }

	.dropdown {
		position: static;
		float: none;
	}

    .links-grap {
    	display: block;

    	position: relative;
    	clear: left;
    	text-align: center;

    	margin-top: 1.5em;
    	/*font-size: 200%;*/
    	font-size: 260%;
    	z-index: 0;

    	background-color: #221F1F;
    	box-shadow: none;
    }
}    

@media (min-width: 1000px) {
	.links-grap {
		margin-top: 2em;
		font-size: 6em;
	}

	.header-title {
		margin-left: 10%; 
		font-size: 6.5em;
	}
}

/******
		 GALLERY 
		 		*******/ 

.casette {
	background-color: #523A3B; /*523A3B*/ /*6E4E4F*/
}

.casette-imgc {
	display: block;
	max-width: 100%;
	height: auto;

	/*margin: 2em auto;*/
	box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

/******
 MEDIAS 
 *******/

@media (min-width: 500px) {
	section.casette {
		display: grid;
	    grid-row: row1-start / row1-end;
		grid-column: col-s2-start / col-s4-end;
		grid-auto-rows: auto-fit, minmax(150px, 1fr);
	    grid-template-columns:  repeat(auto-fit, minmax(150px, 50%));
	    grid-auto-flow: row dense;
	    /*grid-template-columns: repeat(2,  minmax(150px, 1fr));*/
    }

    .casette-imgc {
		max-width: 90%;
	    margin: 1em;
    }
}    

/******
		 PÁGINAS 
		 		*******/ 

.paginas {
	background-color: #6E4E4F;
}

.paginas-icon {
	display: inline-block;
	padding: 0.2em;

	margin-top: 0.4em;
	text-decoration: none;
	color: #9c4d52;
}

.paginas-icon-value {
	margin: 0;
}

/******
 MEDIAS 
 *******/ 

@media (min-width: 500px) {
	div.paginas {
	    grid-row: row2-start / row2-end;
		grid-column: col-s2-start / col-s4-end;
    }
}    

/******
		 ABOUT 
		 		*******/ 

.about-img {
	min-height: 200px;
	min-width: 200px;
	margin-bottom: 2em;
}

.about-name {
	color: #c5bdbd;
}

.about-text {
	padding:3em 0 5em;

	font-size: 1.2em;
	color: #f1a6a6;
}

/******
 MEDIAS 
 *******/ 

@media (min-width: 500px) {
	section.about {
		grid-row: row3-start / row3-end;
		grid-column: col-s2-start / col-s4-end;
    }
}    

/******
		 SKILLS 
		 		*******/ 

.skill-grap {
	width: 80%;
	padding:0 0 5em;
	margin: 0 auto;
}

.skills-skill {
	margin: 0 0 3em;

	text-align: center;
	font-size: 1.4em;
	color: #ab5157;
}

.white {
	height: 2em;

	margin: 2em 2em;
	padding: 0;
	line-height: 2em;
	font-size: 1em;
	background-color: #8A7C7E;

}

.skill-p {
	height: 2em;
	padding: 0;
	background-color: #4D3031;
}

/******
 MEDIAS 
 *******/ 


@media (min-width: 500px) {
	section.skills {
		grid-row: row4-start / row4-end;
		grid-column: col-s2-start / col-s4-end;
 	}
}    

/******
		 CHARGES 
		 		*******/ 

.charges-grap {
	position: relative;
	padding-bottom: 5em;

}

.charge {
	display: inline-block;
	width: 200px;

	margin: 4em auto;
	border: 1px solid #532d2e;
	padding: 0 0 2em;
	
	border-top-right-radius: 1.5em;
	border-top-left-radius: 1.5em;
	background-color: #8A7C7E;
}

.charge-title {
	margin: 0;
	border: 1px solid #532d2e;
	padding: 0.5em;
	
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	background-color: #4D3031;
}

.charge-paragraph {
	margin: 0;
	border-bottom: 1px solid #532d2e;
	padding: 0.5em;
	
	background-color: #8A7C7E;
	font-size: 1.3em;
}	 .charge-paragraph:hover{
		cursor: pointer;
		background-color: #6c6062;
}

.charge-monto {
	display: block;
	margin:0;
	border-bottom: 1px solid #532d2e;
	padding: 1em 0.5em;

	background-color: #8A7C7E;
	font-size: 1.5em;
} 	.charge-monto:hover{
		cursor: pointer;	
		background-color: #514849;
}

.charge-bottom {
	display: block;
	margin: 1.5em 0.6em 0;
	border-radius: 0.5em;
	padding: 0.8em;

	background-color: #410202;
	font-size: 1.5em;
	color: #8A7C7E;
	text-decoration: none; 
}


/******
 MEDIAS 
 *******/ 


@media (min-width: 500px) {
	section.charges {
		grid-row: row5-start / row5-end;
		grid-column: col-s2-start / col-s4-end;
 	}

 	.charge{
 		margin: 1em;
 	}
}    

/******
		 CONTACT 
		 		*******/ 

.contact {
	background-color: #7D7D7D;
}

.contact-text {
	color: #ad8585;
}

.contact-form-i {
	margin: 0.5em auto;
	border:1px solid #291818;
	border-radius: 0.5em;
	
	padding: 0.5em;
	background-color: #4d3031;
	opacity: 0.8;
}

.contact-form-send {
	margin-top: 1em;
	border-color: gray;
	padding: 0.5em 4em;
	
	background-color: #321111;
	color: #fff;
}

/******
 MEDIAS 
 *******/


@media (min-width: 500px) {
	section.contact {
		grid-row: row6-start / row6-end;
		grid-column: col-s2-start / col-s4-end;
 	}
}    


/******
		 FOOT 
		 		*******/ 


.foot__text {
	color: #633839;
}

.foot-link {
	color: #39434C;
}


/******
 MEDIAS 
 *******/ 


@media (min-width: 500px) {
	footer.foot {
		grid-row: row7-start / row7-end;
		grid-column: col-s1-start / col-s4-end;
		
		position: relative;
		bottom: 0;
		width: 100%;
 	}
}    