body {
	margin: 0 2px;
}

* {
    box-sizing: border-box;
}
main {
	display: grid;
    font-family:sans-serif;
    margin: 0 0;

/*******************
 ESTABLECIENDO LINEAS 
 *********************/    

    grid-template-columns: 
    	[col-start] 1fr
    	[col-end]
    ;
    grid-template-rows: 
    	[rowa-start] 0.00661157024%				/*40px*/
		[rowa-end rowb-start] 0.2809917355%		/*1700px*/
    	[rowb-end rowc-start] 0.00661157024%	/*40px*/
    	[rowc-end rowd-start] 0.10743801652%	/*650px*/
    	[rowd-end rowe-start] 0.09090909090%	/*550px*/
    	[rowe-end rowf-start] 0.16925619834%	/*1750px*/
    	[rowf-end rowg-start] 450px	            /*450px*/
    	[rowg-end rowh-start] 0.04958677685%	/*300px*/
    	[rowh-end rowi-start] 0.08760330578%	/*530px*/
    	[rowi-end rowj-start] 0.00661157024%	/*40px*/
    	[rowj-end]						/*6050*/
    ;
}

section, div, footer {
	display: block;
    text-align: center;
}


/**************************
 ESTABLECIENDO MEDIA QUERIES 
 ****************************/  


@media (min-width: 500px) {
    main {
   		grid-template-columns: 
    	[col-s1-start] 1fr
    	[col-s1-end col-s2-start]1fr
    	[col-s2-end col-s3-start]1fr
    	[col-s3-end col-s4-start]1fr
    	[col-s4-end]
       ;
    	grid-template-rows:  
    	[row1-start] 0.2809917355%			
		[row1-end row2-start] 0.00661157024%		
    	[row2-end row3-start] 0.10743801652%	
    	[row3-end row4-start] 0.09090909090%	
    	[row4-end row5-start] 0.16925619834%	
    	[row5-end row6-start] 450px	
    	[row6-end row7-start] 0.04958677685%	            
    	[row7-end row8-start] 0.00661157024%	
    	[row8-end]	
       ;
    } 
}


/***********************
 ESTABLECIENDO POSICIONES 
 *************************/  


header {
	grid-row: rowa-start / rowa-end;
	background-color: #221F1F;
	font-size: 0.5em;
	display: block;
}

section.casette {
	grid-row: rowb-start / rowb-end;
	padding: 0;
	background-color: #281b1b;
}

div.paginas {
	grid-row: rowc-start / rowc-end;
	padding: 0;
	background-color: #2b1717;
}

section.about {
	grid-row: rowd-start / rowd-end;
	background-color: #321111;
	opacity: 0.9;
	padding: 0;
}

section.skills {
	grid-row: rowe-start / rowe-end;
	background-color: #350d0d;
	padding: 0;
}

section.charges {
	grid-row: rowf-start / rowf-end;
	background-color: #370c0c;
	padding: 0;

}

section.contact {
	grid-row: rowg-start / rowg-end;
	padding: 0;
}

section.info {
	grid-row: rowh-start / rowh-end;
	padding: 0;
}

section.posts {
	grid-row: rowi-start / rowi-end;
	padding: 0;
}

footer.foot {
	grid-row: rowj-start / rowj-end;
	background-color: #191919;
	padding: 0;
	margin: 0;
}


/*******************
 ARREGLANDO ELEMENTOS 
 *********************/  

/* header */

.header-title {
	display: block;
	float: left;
	margin-left: 1em;
	color: #F5F5F1;
}

.header-box {
	display: block;
	float: right;
	width: 4em;
	height: 4em;

}

.header-box-img {
	display: block;
	float: right;
	width: 4em;
	height: 4em;
}

.links-grap{
	display: none;
}

@media (min-width: 500px) {
	header {
	grid-row: row1-start / row7-end;
	grid-column: col-s1-start / col-s1-end;
	position: fixed;
	width: 25%;
	height: 100%;
    }

    .header-box{
    	display: none;
    }

    .header-title {
    	font-size: 450%;
    	text-align: center;
    	margin-left: 0.2em;
    }

    .links-grap {
    	display: block;
    	clear: left;
    	text-align: center;
    	margin-top: 6.5em;
    	font-size: 300%;
    }

    .header-links {
    	text-decoration: none;
    }

    .header-link-title {
    	margin: 0.5em 0;
    	padding: 0.5em 0;
    	color: #420000;
    } .header-link-title:hover
    {background-color: #825C5D;}
}    

@media (min-width: 1000px) {
	.links-grap {
		margin-top: 4.5em;
		font-size: 6em;
	}

	.header-title {
		margin-left: 10%; 
	}
}

/* casette */

.casette {
	background-color: #523A3B; /*523A3B*/ /*6E4E4F*/
}

.casette-imgc {
	display: block;
	margin: 2em auto;
	max-width: 100%;
	height: auto;
}

@media (min-width: 500px) {
	section.casette {
    grid-row: row1-start / row1-end;
	grid-column: col-s2-start / col-s4-end;
    }

    .casette-imgc {
    margin: 2em 2em;
	max-width: 90%;
    }
}    

/* paginas */

.paginas {
	background-color: #6E4E4F;
}

.paginas-icon {
	display: inline-block;
	text-decoration: none;
	margin-top: 0.4em;
	padding: 0.2em;
	color: #E50914;
}

.paginas-icon-value {
	margin: 0;
}

@media (min-width: 500px) {
	div.paginas {
    grid-row: row2-start / row2-end;
	grid-column: col-s2-start / col-s4-end;
    }
}    

/* about */

.about-title {
	color: #E50914;
}

.about-img {
	min-height: 200px;
	min-width: 200px;
	margin-bottom: 2em;
}

.about-name {
	color: #8A7C7E;
}

.about-text {
	color: #5e5555;
}

@media (min-width: 500px) {
	section.about {
	grid-row: row3-start / row3-end;
	grid-column: col-s2-start / col-s4-end;
    }
}    

/* skills */

.skills-title {
	color: #E50914;
}

.skills-skill {
	text-align: left;
	color: #423031;
	margin-left: 1em;
	font-size: 1.4em;
}

.white {
	background-color: #8A7C7E;
	padding: 0;
	margin: 2em 2em;
	height: 2em;
	font-size: 1em;
	line-height: 2em;

}

.skill-p {
	background-color: #4D3031;
	height: 2em;
	padding: 0;
}

@media (min-width: 500px) {
	section.skills {
	grid-row: row4-start / row4-end;
	grid-column: col-s2-start / col-s4-end;
 	}
}    

/* charges */

.charges-title {
	color: #E50914;
}

.charge {
	padding: 0 0 2em;
	margin: 4em auto;
	background-color: #8A7C7E;
	border: 1px solid #532d2e;
	border-top-right-radius: 1.5em;
	border-top-left-radius: 1.5em;
	width: 200px;
}

.charge-title {
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	border: 1px solid #532d2e;
	margin: 0;
	padding: 0.5em;
	background-color: #4D3031;
}

.charge-paragraph {
	margin: 0;
	padding: 0.5em;
	border-bottom: 1px solid #532d2e;
	background-color: #8A7C7E;
	font-size: 1.3em;
} .charge-paragraph:hover{
	background-color: #6c6062;
	cursor: pointer;
}

.charge-monto {
	display: block;
	padding: 1em 0.5em;
	margin:0;
	font-size: 1.5em;
	background-color: #8A7C7E;
	border-bottom: 1px solid #532d2e;
} .charge-monto:hover{
	background-color: #514849;
	cursor: pointer;
}

.charge-bottom {
	display: block;
	margin: 1.5em 0.6em 0;
	padding: 0.8em;
	border-radius: 0.5em;
	font-size: 1.5em;
	background-color: #410202;
	color: #8A7C7E;
	text-decoration: none; 
}

@media (min-width: 500px) {
	section.charges {
	grid-row: row5-start / row5-end;
	grid-column: col-s2-start / col-s4-end;
 	}

 	.charge{
 		float: left;
 		margin: 1em;
 		margin-left: 2em;
 	}
}    

/* contact */

.contact {
	background-color: #7D7D7D;
}

.contact-title {
	color: #000;
}

.contact-text {
	color: #000;
}

.contact-form-i {
	padding: 0.5em;
	margin: 0.5em auto;
	border:1px solid #ddd;
	border-radius: 0.5em;
}

.contact-form-send {
	margin-top: 1em;
	padding: 0.5em 4em;
	background-color: #000;
	color: #fff;
	border-color: gray;
}

@media (min-width: 500px) {
	section.contact {
	grid-row: row6-start / row6-end;
	grid-column: col-s2-start / col-s4-end;
 	}
}    

/* info */

.info {
	background-color: #616161;
}

@media (min-width: 500px) {
	section.info {
	grid-row: row7-start / row7-end;
	grid-column: col-s2-start / col-s2-end;
 	}
}    

/* posts */
.posts {
	background-color: #525252;
}

.posts-p {

}

.posts-img{
	width: 70px;
	height: 70px;
}

.posts-text {
	clear: left;
}

@media (min-width: 500px) {
	section.posts {
	grid-row: row7-start / row7-end;
	grid-column: col-s3-start / col-s4-end;
 	}
}    

/* foot */

.foot__text {
	color: #633839;
}

.foot-link {
	color: #39434C;
}

.all-titles {
	font-size: 2em;
	margin: 2em auto;
}

@media (min-width: 500px) {
	footer.foot {
	grid-row: row8-start / row8-end;
	grid-column: col-s1-start / col-s4-end;
	position: relative;
	bottom: 0;
	width: 100%;
 	}
}    

/* efectos hover */

.hover {
	opacity: 0.8;
}

.hover:hover {
	opacity: 1;
}